html{background-color: #FFF3DA;}

h1{text-align: center;}

H2{color:#FBA1B7;}
h2{background-color:;}

.centre{display: block; margin-left: auto; margin-right:auto;}

h2{text-align: center;}
h2{background-color: ;}

#no2{color: ;}